{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "no-console": 0,
        "object-curly-spacing": ["error", "never"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-underscore-dangle": ["error", { "allowAfterThis": true }]
    },
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
